/* Body Text */

.title-block {
    background-color: #ccc;
    border: 2px solid black;
    font-size: xx-large;
    text-align: center;
}

.text-block-center {
    background-color: #ccc;
    border: 2px solid black;
    text-align: center;
}

.text-block-left {
    background-color: #ccc;
    border: 2px solid black;
    text-align: left;
}

.text-block-right {
    background-color: #ccc;
    border: 2px solid black;
    text-align: right;
}

/* Navigation Bar */

.nav-wrapper {
    background-color: #ccc;
    border: 2px solid black;
    display: flex;
    font-size: x-large;
    justify-content: space-between;
    padding: 20px;
}

.nav-link-wrapper {
    height: 100%;
    border-bottom: solid transparent;
    transition: border-bottom 0.5s;
    border-bottom-width: 0.1em;
}

.nav-link-wrapper a {
  color: #fff;
  font-size: 1vw;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper a:hover {
  color: #f04040;
}

