/* Body Text */

.title-block {
    background-color: #414559;
    border: 2px solid #303446;
    font-size: 5vw;
    height: 100%;
    max-width: 960px;
    text-align: center;
}

.text-block {
    /* background-color: #414559; */
    /* border: 2px solid #303446; */
    /* text-align: center; */
    font-size: 0.75vw;
    max-width: 960px;
}
/*
.text-block-left {
    background-color: #414559;
    border: 2px solid #303446;
    text-align: left;
    font-size: 1vw;
}

.text-block-right {
    background-color: #414559;
    border: 2px solid #303446;
    text-align: right;
    font-size: 1vw;
}
*/

/* Navigation */

.nav-box {
    /* background-color: #414559; */
    border: 2px solid #303446;
    display: flex;
    font-size: 2vw;
    justify-content: space-between;
    padding: 20px;
    max-width: 960px;
}

.link-wrapper {
    height: 100%;
    border-bottom: solid transparent;
    transition: border-bottom 0.5s;
    border-bottom-width: 0.1em;
}

.link-wrapper a {
    color: #f4b8e4;
    text-decoration: none;
    transition: color 0.5s;
}

.link-wrapper a:hover {
    color: #8caaee;
}

