<div class="nav-box">
    <div class="link-wrapper">
        <a href="/HTML/about-me.html">About Me</a>
    </div>

    <div class="link-wrapper">
        <a href="https://www.overleaf.com/read/rpxvzsmfdctm#5b16eb"
           target="_blank" 
           rel="noopener noreferrer">Resume and CV</a>
    </div>

    <div class="link-wrapper">
        <a href="/HTML/education.html">Education</a>
    </div>

    <div class="link-wrapper">
        <a href="/HTML/research.html">Research</a>
    </div>

    <!-- 
    <div class="link-wrapper">
        <a href="/HTML/blog.html">Blog</a>
    </div> 
    -->
</div>
